* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

main {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  margin: 35px 0;
  display: grid;
  grid-template-columns: 465px 320px;
}

.checkoutTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin: 15px 0;
}
main form{
    position: relative;
    width: 80%;
}
.dform{
        position: relative;
        display: block;
}
.dform h1{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 15px 0;
}

.dform .camp{
    margin: 10px 0;
}
.dform .camp label{
    margin: 10px 0;
    font-size: 14px;
    color: #4f4f4f;
    position: relative;
    display: block;
}
.dform .camp input{
    position: relative;
    border: 1px solid #828282;
    color: #828282;
    font-size: 14px;
    padding: 8px 5px 8px 35px;
    width: 100%;
    border-radius: 5px;
}
.dform .camp .nput{
    position: relative;
}

.dform .camp .nput i{
    position: absolute;
    font-size: 18px;
    color: #828282;
    transform: translateY(-50%);
    top: 50%;
    left: 3%;
}
.dform .camp #country{
    position: relative;
    border: 1px solid #828282;
    color: #828282;
    font-size: 14px;
    padding: 8px 5px 8px 35px;
    border-radius: 5px;
}
.bottomblok{
    display: flex;
    flex-direction: row;
    
}

.dform .post .nput{
    color: #828282;
    font-size: 14px; 
    border-radius: 5px;
    margin-left: 10px;
}

.check label{
    color: #828282;
    font-size: 1rem;
    margin: 10px 10px;
}
.check {
    margin-bottom: 0.7rem;
}

.button{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    margin-top: 2rem;
}
.button #btn-submit{
    width: 35%;
    height: 5vh;
    background-color: #ed8020;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.productPanel{
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    padding: 1rem;
    height: fit-content;
    border-radius: 10px;
    min-width: max-content;
}
.backBag{
    display: flex;
    flex-direction: row;

}
.productPanel img {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0.5rem;
}
.info{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}
.info .content{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 500;
}
.info .content p{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.info p strong{
    color: #ed8020;
}
.shoes{
    display: flex;
    flex-direction: row;
}
.quantity-controller{
    display: flex;
    line-height: 1rem;
    align-items: center;
    justify-content:space-around;
    margin-top: 5rem;
    border: 1px solid #828282;
    border-radius: 10px;
    font-size: 1.5rem;    
    padding: .7rem;
    width: 12rem;
    
}
.quantity-controller button i{
    display: flex;
    width: 1.3rem;
    height: 1.7rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buy-detail{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #4f4f4f;
    font-size: 1.3rem;
    color: #4f4f4f;
    height: 3rem;
    padding: .5rem;
}





